---
// layouts
import MainLayout from "../layouts/MainLayout.astro";
import SectionContainer from "../layouts/SectionContainer.astro";

// components
import OtherPagesHero from "../components/Other_Pages_Hero.astro";
import PageTitle from "../components/Page_Title.astro";
---

<MainLayout title="About Us">

  <OtherPagesHero />

  <SectionContainer>

    <PageTitle title="About Us" />

    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-6 my-20">
      <div class="px-60">
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse debitis obcaecati maiores, quam inventore provident unde nostrum dicta ab officiis minima, dolorum velit impedit voluptatum, numquam recusandae enim quibusdam soluta cumque. Sequi, officia expedita. Magnam distinctio itaque optio doloribus atque numquam eos. Ullam natus facilis unde adipisci minus cupiditate ipsum odio qui similique, necessitatibus esse reiciendis sed aut voluptatum vel molestiae! Culpa voluptate magnam provident magni, itaque dolor eius quae voluptates illo omnis harum quisquamtur, labore animi vitae, consectetur ipsam facere quam autem voluptate sit ipsum optio deleniti culpa quibusdam. Sed aspernatur fugit consequatur iusto repudiandae alias assumenda adipisci dolorem dignissimos quis quasi beatae ullam molli</p>

        <br>
        
        <p class="text-justify">tia cumque, possimus eum ut doloribus nesciunt officia. Rem dolor totam enim exercitationem reiciendis aut obcaecati? Repudiandae debitis alias suscipit quo voluptates harum iure sit error deleniti maiores cum aut ex, magni, cupiditate animi eius aperiam tempore nobis distinctio quidem sequi totam! Nostrum dicta magni nam et atque quas nesciunt repellat iure enim! Non earum rem esse, explicabo quo nesciunt temporibus fugt nihil distinctio similique est ex quos laboriosam deserunt. Eveniet facilis repellat earum temporibus ea dignissimos inventore ipsam! Deserunt quo maiores ducimus delectus tempora praesentium, recusandae minus!</p>
      </div>
    </div>
    
  </SectionContainer>

</MainLayout>