---
// Astro Icons
import { Icon } from "astro-icon/components";
---

<footer class="bg-gray-900 py-5 pl-4 pr-6 text-center" id="footer">
  <div class="mb-4">
    <span class="space-x-3 text-xl">
      <a href=""
        ><Icon
          name="ri:facebook-fill"
          class="inline-block text-siteYellow"
        /></a
      >
      <a href=""
        ><Icon
          name="ri:instagram-line"
          class="inline-block text-siteYellow"
        /></a
      >
      <a href=""
        ><Icon
          name="ri:twitter-x-line"
          class="inline-block text-siteYellow"
        /></a
      >
    </span>
  </div>
  <div class="container">
    <span class="text-siteYellow text-sm">&copy; {new Date().getFullYear()} Ball One. Motherwell, South Africa. All Rights Reserved</span>
  </div>
</footer>