---
// Astro Icons
import { Icon } from "astro-icon/components";
---

<footer class="bg-gray-900" id="footer">
  <div class="container mx-auto flex justify-between py-2 px-4">
    <span class="text-siteYellow text-sm">&copy; 2024 Ball One. Motherwell, South Africa. All Rights Reserved</span>
    <span class="space-x-3">
      <a href=""
        ><Icon
          name="ri:facebook-fill"
          class="inline-block text-siteYellow"
        /></a
      >
      <a href=""
        ><Icon
          name="ri:instagram-line"
          class="inline-block text-siteYellow"
        /></a
      >
      <a href=""
        ><Icon
          name="ri:twitter-x-line"
          class="inline-block text-siteYellow"
        /></a
      >
      <a href=""
        ><Icon
          name="ri:tiktok-fill"
          class="inline-block text-siteYellow"
        /></a
      >
    </span>
  </div>
</footer>