---
// Astro
import { getImage } from "astro:assets";

// image
import hero from "../images/hero-img.png"
const optimizedBackgroundImage = await getImage({src: hero, format: 'webp'});

---

<section style={`background-image: url(${optimizedBackgroundImage.src}); height: 90vh;`} class="flex justify-center items-center h-screen bg-no-repeat bg-cover bg-center">
  <div class="text-center">
    <div>
      <h1 class="text-gray-100 xs:text-[100px] sm:text-[160px] md:text-[20rem] slg:text-[16rem] mb-0 -mt-28 font-bold leading-none">Ball One</h1>
    </div>
  </div>
</section>
