---
import { Icon } from "astro-icon/components";
---

<div class="bg-siteYellow py-1">
  <div class="container mx-auto flex justify-between pl-4 pr-6">
    <div class="pl-2 flex items-center gap-1">
      <Icon name="ri:map-pin-fill" class="text-[14px] mb-[3px]" />
      <span class="text-sm">Motherwell, South Africa</span>
    </div>
    <div class="mb-[7px]">
      <span class="space-x-3">
        <a href=""
          ><Icon
            name="ri:facebook-fill"
            class="inline-block text-gray-900"
          /></a
        >
        <a href=""
          ><Icon
            name="ri:instagram-line"
            class="inline-block text-gray-900"
          /></a
        >
        <a href=""
          ><Icon
            name="ri:twitter-x-line"
            class="inline-block text-gray-900"
          /></a
        >
      </span>
    </div>
    
  </div>
</div>