---
const { tags } = Astro.props

interface Props {
  tags: string[];
}
---

<div class="flex flex-wrap gap-2">
  {tags.map((tag: string) => (
    <a href={"/articles/tag/" + tag} class="px-2 bg-siteYellow text-gray-800  hover:text-black duration-100 transition">
      <span id="tag" class="text-[13px]">
        {tag}
      </span>
    </a>
  ))}
</div>
